.worktrees
.DS_Store
*.swp
.env
.env.*
!.env.example
.cache/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.pyre/
.pyright/
.venv/
build/
dist/
*.egg-info/
htmlcov/
.coverage
.coverage.*
.hypothesis/
.nox/
.tox/
.docs/
**/__pycache__/
*.py[cod]
